<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title data-th-text="#{editProfileTitle}"></title>
</head>
<body>
	<h1
		data-th-text="|#{editProfileTitle}, ${@sessionManager.loggedInUser.username}|"></h1>
	<h2>
		<a data-th-href="|/app/timeline|" data-th-text="#{toTimelineFromPost}">Back to the Timeline</a>
	</h2>
	<br />
	<h5 data-th-if="${failure}">
		<span class="alert alert-danger" data-th-text="${failure}"></span>
		<br />
	</h5>
	<form data-th-action="|/app/editProfile/${profile.id}|" method="POST"
		data-th-object="${profile}">
		<table class="table">
			<thead>
				<tr>
					<th scope="col" data-th-text="#{firstNameEditProfile}">First Name</th>
					<th scope="col" data-th-text="#{lastNameEditProfile}">Last Name</th>
					<th scope="col" data-th-text="#{ageEditProfile}">Age</th>
					<span data-th-if="${profile.oneLanguage == true}">
						<th scope="col" data-th-text="#{languageEditProfile}">Language</th>
					</span>
					<span data-th-unless="${profile.oneLanguage == true}">
						<th scope="col" data-th-text="#{languagesEditProfile}">Languages</th>
					</span>
					<th scope="col" data-th-text="#{emailAddressEditProfile}">Email Address</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input class="form-control" type="text"
						data-th-errorclass="is-invalid" data-th-field="*{firstName}" />
						<span class="invalid-feedback" data-th-errors="*{firstName}"></span>
					</td>

					<td><input class="form-control" type="text"
						data-th-errorclass="is-invalid" data-th-field="*{lastName}">
						<span class="invalid-feedback" data-th-errors="*{lastName}"></span>
						</td>
					
					<td><input class="form-control" type="text"
						data-th-errorclass="is-invalid" data-th-field="*{age}">
						<span class="invalid-feedback" data-th-errors="*{age}"></span>
						</td>
					
					<td><select class="form-control" multiple
						data-th-errorclass="is-invalid" data-th-field="*{languages}">
							<option
								data-th-each="language : *{languages}"
								data-th-value="${language}" data-th-text="${#messages.msg(language)}"></option>
					</select>
					<span class="invalid-feedback" data-th-errors="*{languages}"></span>
					</td>
					<td><input class="form-control" type="text"
						data-th-errorclass="is-invalid" data-th-field="*{emailAddress}">
						<span class="invalid-feedback" data-th-errors="*{emailAddress}"></span>
						</td>
				</tr>
			</tbody>
		</table>
		<br />
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-primary" data-toggle="modal"
			data-target="#exampleModal"
			data-th-text="|#{saveChangesEditProfile}, ${@sessionManager.loggedInUser.username}|">
		</button>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel" data-th-text="#{modalTitleEditProfile}">Profile
							Changes</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" data-th-text="#{modalBodyEditProfile}">Are you sure that you want to make
						these changes to your profile?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal" data-th-text="#{closeModalEditProfile}">Close</button>
						<button type="submit" class="btn btn-primary" data-th-text="#{openModalEditProfile}">Save the
							changes</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<hr />


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>