<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title data-th-text="|Make a Post Comment, ${@sessionManager.loggedInUser.username}|"></title>
  </head>
  <body>
  <h1> Make a Comment on <span class="alert alert-warning" data-th-text="${post.name}"></span>
  		by <span class="alert alert-warning" data-th-text="${post.author}"></span></h1>:
	<br /><br />
  <h2><span class="alert alert-warning" data-th-text="${post.content}"></span></h2>
  <br />
	<hr /><hr />
	<h4 data-th-if="${post.hasComments}">
		<span data-th-if="${post.hasOneComment}">
			<span data-th-text="|${post.name}'s Comment So Far|"></span>
		</span>
		<span data-th-unless="${post.hasOneComment}">
			<span data-th-text="|${p.name}'s Comments So Far|"></span>
		</span>
	</h4>
		<div data-th-if="${post.hasComments}">
			<div data-th-each="pc : ${post.postComments}">
			<br />
				<span class="alert alert-secondary" data-th-text="${pc.content}">
				</span>
					<br /><br />
							<span class="alert alert-secondary">Comment made by</span> 
						<span data-th-if="${pc.author.id == @sessionManager.loggedInUser.id}">
							<br /><br />
							<span class="alert alert-secondary" data-th-text="|you, at ${pc.commentDate}|"></span> 
						</span>
							<br /><br />
						<span data-th-unless="${pc.author.id == @sessionManager.loggedInUser.id}">
							<span class="alert alert-secondary"> <a data-th-href="|/app/${pc.author.username}|" 
								data-th-text="${pc.author}"></a>, 
								at <span data-th-text="${pc.commentDate}"></span>
							</span>
				<br /><br />
						</span>
			</div>
		</div>
		<h2> <a data-th-href="|/app/timeline|">Or Go Back to the Timeline</a></h2>
	<form data-th-action="|/app/postComment/${post.id}|" method="POST" data-th-object="${postComment}">
		<label for="content"></label>
		<textarea class="form-control" placeholder="Here is Where the Comment Goes" 
			rows="6" cols="50" id="content" data-th-field="*{content}" data-th-errorclass="is-invalid" >
		</textarea>
			<div class="invalid-feedback" data-th-errors="*{content}">error</div>
		<button type="submit" class="btn btn-primary">Post It</button>
	</form>
  </body>
  
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>