<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
    	Your Profile
    </title>
    <title data-th-unless="${profile.id == @sessionManager.loggedInUser.id}"
    	data-th-text="|${profile.user.username}'s Profile|">
    </title>
  </head>
  <body>
    <h1 data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
    	<span data-th-text="|This is your profile, ${@sessionManager.loggedInUser.username}|"></span>
    </h1>
    <h1 data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
    	<span data-th-text="|This is ${profile.user.username}'s profile|"></span>
    </h1>
    <div data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
    	<h2 data-th-text="|Registered User since ${@sessionManager.loggedInUser.joinDate}|"></h2>
    </div>
    <div data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
    	<h2 data-th-text="|Registered User since ${profile.user.joinDate}|"></h2>
    </div>
    <h3><a data-th-href="|/app/timeline|">Back to the Timeline</a></h3>
    <br />
    <div data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
    <form data-th-action="|/app/logout|" method="POST">
    	<h3>
    		<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
				Or Log Out
			</button>
		</h3>
			<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" 
				aria-hidden="true">
  			<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
       				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          				<span aria-hidden="true">&times;</span>
   		 			</button>
      				</div>
     	 		<div class="modal-body">
       				Are you sure that you want this option and no other?
     	 		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        		<button type="submit" class="btn btn-primary">Yes</button>
      		</div>
    			</div>
  			</div>
		</div>		
    </form>
    </div>
    <br />
    <table class="table">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <span data-th-if="${profile.oneLanguage == true}">
      	<th scope="col">Language</th>
      </span>
      <span data-th-unless="${profile.oneLanguage == true}">
      	<th scope="col">Languages</th>
      </span>
      <th scope="col">Email Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      	<td data-th-text="${profile.firstName}"></td>
 	  	<td data-th-text="${profile.lastName}"></td>
 	  	<td data-th-text="${profile.age}"></td>
 	  	<td>
 	  	<span data-th-each="language, iterStat : ${profile.languages}" 
 	  		data-th-text="!${iterStat.last} ? ${language} + ', ' : ${language}"></span>
  		</td>
      <td data-th-text="${profile.emailAddress}"></td>
    </tr>
  	</tbody>
	</table>
	<br />
	 <section data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
    			<span> <a data-th-href="|/app/editProfile/${profile.id}|" data-th-text="|Edit your profile,
    			 ${@sessionManager.loggedInUser.username}|"></a></span>
    			 <br />
    			 <span> <a data-th-href="|/app/editUsername/${@sessionManager.loggedInUser.id}|"
    			 	 data-th-text="|Change your username, ${@sessionManager.loggedInUser.username}|"></a></span>
    </section>
	<br />
	<h2 data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
		<span data-th-if="${profile.hasMadePosts}">
			<span data-th-if="${profile.hasMadeOnePost}">
				<span data-th-text="|Your Post, ${@sessionManager.loggedInUser.username}"></span>
			</span>
			<span data-th-unless="${profile.hasMadeOnePost}">
				<span data-th-text="|Your Posts, ${@sessionManager.loggedInUser.username}"></span>
			</span>
		</span>
		<span data-th-unless="${profile.hasMadePosts}">
			You haven't yet made any posts. <span> <a data-th-href="|/app/post/${@sessionManager.loggedInUser.id}|">Click here to make a post</a></span>	
		</span>
	</h2>
	<h2 data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
		<span data-th-if="${profile.hasMadePosts}">
			<span data-th-if="${profile.hasMadeOnePost}">
				<span data-th-text="|${profile.user.username}'s Post|"></span>
			</span>
			<span data-th-unless="${profile.hasMadeOnePost}">
				<span data-th-text="|${profile.user.username}'s Posts|"></span>
			</span>
		</span>
		<span data-th-unless="${profile.hasMadePosts}">
			<span data-th-text="|${profile.user.username} hasn't yet made any posts|"></span>
		</span>
	</h2>
	<div data-th-if="${profile.hasMadePosts}">
		<section data-th-each="post : ${profile.posts}">
			<div>
			<br />
				<span class="alert alert-warning" data-th-text="${post.name}">post name</span>
				<br /><br />
				<div>
					<span class="alert alert-warning" data-th-text="${post.content}"></span>
					<br /><br />
				</div>
				<div class="panel-footer">
				<div data-th-if="${post.author.id == @sessionManager.loggedInUser.id}">
					<span class="alert alert-warning" data-th-text="|posted on ${post.postDate}, 
							at ${post.postTime}, by you|">info</span>
				</div>
				<div data-th-unless="${post.author.id == @sessionManager.loggedInUser.id}">
					<span class="alert alert-warning" data-th-text="|posted on ${post.postDate},
							at ${post.postTime} by ${post.author}|">info</span>
				</div>
				<br /><br />
				</div>
			</div>
			<div data-th-if="${post.hasComments}">
				<br />
				<div data-th-if="${post.hasOneComment}">
					<div data-th-text="|Commentary from another user on ${post.name}|"></div>				
				</div>
				<div data-th-unless="${post.hasOneComment}">
					<div data-th-text="|Commentary from another user or users on ${post.name}|"></div>
				</div>
				<div data-th-each="postComment : ${post.postComments}">
				<br />
					<span class="alert alert-secondary" data-th-text="${postComment.content}">comment</span>
					
					<span data-th-if="${postComment.id == @sessionManager.loggedInUser.id}">
							<span class="alert alert-secondary" 
							data-th-text="|comment made by you, at ${postComment.commentDate}|"></span>
					</span>
					<span data-th-unless="${postComment.id == @sessionManager.loggedInUser.id}">
							<span class="alert alert-secondary" 
							data-th-text="|comment made by ${postComment.author}, at ${postComment.commentDate}|"></span>
					</span>
					<br />
				</div>
			</div>
			<div data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
				<div data-th-if="${post.editableByAuthor}">
					<a data-th-href="|/app/editPost/${post.id}|">
						<span data-th-text="|Edit this post, ${@sessionManager.loggedInUser.username}|"></span></a>
				</div>
				<br />
				<div data-th-if="${post.deletableByAuthor}">
					<form id="deletePost" data-th-action="|/app/deletePost/${post.id}|" method="POST">
						<button class="btn btn-warning" id="deletePostButton" 
							data-th-text="|DELETE this post, ${@sessionManager.loggedInUser.username}|"></button>
					</form>
				</div>
				<hr />
			</div>
		</section>
			<div data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
				<a data-th-href="|/app/post/${@sessionManager.loggedInUser.profile.id}|">Make another post</a>
			</div>
	</div>
	<br />
		<h2 data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
			<span data-th-if="${profile.hasMadePostComments}">
				<span data-th-if="${profile.hasMadeOnePostComment}">
						Your Post Comment
				</span>
				<span data-th-unless="${profile.hasMadeOnePostComment}">
						Your Post Comments
				</span>
			</span>
			<span data-th-unless="${profile.hasMadePostComments}">
				You haven't yet commented on any post. <a data-th-href="|/app/timeline|">
				Go to the timeline to find a comment-worthy post</a>
			</span>
		</h2>
		<h2 data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
			<span data-th-if="${profile.hasMadePostComments}">
				<span data-th-if="${profile.hasMadeOnePostComment}">
					<span data-th-text="|${profile.user.username}'s Post Comment|"></span>
				</span>
				<span data-th-unless="${profile.hasMadeOnePostComment}">
					<span data-th-text="|${profile.user.username}'s Post Comments|"></span>
				</span>
			</span>
			<span data-th-unless="${profile.hasMadePostComments}">
				<span data-th-text="|${profile.user.username} hasn't yet commented on any post|"></span>
			</span>
		</h2>
		<div data-th-if="${profile.hasMadePostComments}">
			<section data-th-each="postComment : ${profile.postComments}">
			<br />
				<span class="alert alert-secondary" data-th-text="${postComment.content}">comment</span>
				<span data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
					<span class="alert alert-secondary" data-th-text="|comment made by you,
						 at ${postComment.commentDate}|"></span>
				</span>
				<span data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
					<span class="alert alert-secondary" data-th-text="|comment made by ${postComment.author},
						 at ${postComment.commentDate}|"></span>
				</span>
				<span class="alert alert-secondary" data-th-text="|comment made on post ${postComment.post.name}: ${postComment.post.content}|"></span>
				<div data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
					<div data-th-if="${postComment.deletableByAuthor}">
						<br /> <br />
						<form id="deletePostComment" data-th-action="|/app/deletePostComment/${postComment.id}|" 
								method="POST">
							<button id="deletePostCommentButton" class="btn btn-light" data-th-text="|DELETE this post comment, 
							${@sessionManager.loggedInUser.username}|"></button>
						</form>
					</div>
				</div>
			</section>
		</div>
	<br />
	<br />
	<h2 data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
		<span data-th-if="${profile.hasMadeTranscriptions}">
			<span data-th-if="${profile.hasMadeOneTranscription}">
				Your Transcription
			</span>
			<span data-th-unless="${profile.hasMadeOneTranscription}">
			</span>
				Your Transcriptions
		</span>
		<span data-th-unless="${profile.hasMadeTranscriptions}">
			You haven't yet transcribed any post. 
		<a data-th-href="|/app/timeline|">Go to the timeline to find a transcription-worthy post</a>
		</span>
	</h2>
	<h2 data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
	<span data-th-if="${profile.hasMadeTranscriptions}">
		<span data-th-if="${profile.hasMadeOneTranscription}">
			<span data-th-text="|${profile.user.username}'s Transcription|"></span>
		</span>
		<span data-th-unless="${profile.hasMadeOneTranscription}">
			<span data-th-text="|${profile.user.username}'s Transcriptions|"></span>
		</span>
	</span>
	<span data-th-unless="${profile.hasMadeTranscriptions}">
		<span data-th-text="|${profile.user.username} hasn't yet transcribed any post|"></span>
	</span>
	</h2>
	<br />
	<div data-th-if="${profile.hasMadeTranscriptions}">	
		<section data-th-each="transcription : ${profile.transcriptions}">
			<span class="alert alert-info" data-th-text="${transcription.name}"></span> 
			<span class="alert alert-info" data-th-text="${transcription.content}">comment</span>
			<span data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
				<span class="alert alert-info" data-th-text="|transcription made by you, on ${transcription.transcriptionDate},
				 at ${transcription.transcriptionTime}|"></span>
			</span>
			<span data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
				<span class="alert alert-info" data-th-text="|transcription made by ${transcription.author}, at
					 ${transcription.transcriptionDate}|"></span>
			</span>
				
			<div data-th-if="${transcription.hasComments}">
			</div>
			<div data-th-unless="${transcription.hasComments}">
				<hr /> 
			</div>
			<div data-th-if="${transcription.hasComments}">
			<br />
				<div data-th-if="${transcription.hasOneComment}">
					<div data-th-text="|Commentary from another user on ${transcription.name}|"></div>
				</div>
				<div data-th-unless="${transcription.hasOneComment}">
					<div data-th-text="|Commentary another user or users on ${transcription.name}|"></div>
				</div>
				<div data-th-each="transcriptionComment : ${transcription.transcriptionComments}">
				<br />
					<div data-th-if="${transcriptionComment.author.id == profile.id}">
					</div>
					<div data-th-unless="${transcriptionComment.author.id == profile.id}">
						<span class="alert alert-danger" data-th-text="${transcriptionComment.content}">comment</span>
						<span class="alert alert-danger" data-th-text="|comment made by ${transcriptionComment.author},
						 at ${transcriptionComment.commentDate}|"></span>	
					<br /><br />
					</div>

				</div>
			</div>
			<div data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
				<div data-th-if="${transcription.editableByAuthor}">
					<a data-th-href="|/app/editTranscription/${transcription.id}|">
						<span
						data-th-text="|Edit this transcription, ${@sessionManager.loggedInUser.username}|"></span>
					</a>
					<br /><br />
				</div>
				<div data-th-if="${transcription.deletableByAuthor}">
					<form id="deleteTranscription" data-th-action="|/app/deleteTranscription/${transcription.id}|" >
						<button id="deleteTranscriptionButton" class="btn btn-info"
							data-th-text="|DELETE this transcription, ${@sessionManager.loggedInUser.username}|"></button>
					</form>
				</div>
				<hr />
			</div>
		</section>
	</div>
	<h2 data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
		<span data-th-if="${profile.hasMadeTranscriptionComments}">
			<span data-th-if="${profile.hasMadeOneTranscriptionComment}">
				Your Transcription Comment
			</span>
			<span data-th-unless="${profile.hasMadeOneTranscriptionComment}">
				Your Transcription Comments
			</span>
			
		</span>
		<span data-th-unless="${profile.hasMadeTranscriptionComments}">
			You haven't yet commented on a transcription. 
			<a data-th-href="|/app/timeline|">Click here to find a comment-worthy transcription</a>
		</span>
	</h2>
	<h2 data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
		<span data-th-if="${profile.hasMadeTranscriptionComments}">
			<span data-th-if="${profile.hasMadeOneTranscriptionComment}">
				<span data-th-text="|${profile.user.username}'s Transcription Comment|"></span>
			</span>
			<span data-th-unless="${profile.hasMadeOneTranscriptionComment}">
				<span data-th-text="|${profile.user.username}'s Transcription Comments|"></span>
			</span>
		</span>
		<span data-th-unless="${profile.hasMadeTranscriptionComments}">
			<span data-th-text="|${profile.user.username} hasn't yet commented on any transcription|"></span>
		</span>
	</h2>

	<div data-th-if="${profile.hasMadeTranscriptionComments}">
	<br />
		<section data-th-each="transcriptionComment : ${profile.transcriptionComments}">
			<span class="alert alert-danger" data-th-text="${transcriptionComment.content}">comment</span>
			<span data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
					<span class="alert alert-danger" data-th-text="|comment made by you,
					 on ${transcriptionComment.commentDate}, at ${transcriptionComment.commentTime}|"></span>
			</span>
			<span data-th-unless="${profile.id == @sessionManager.loggedInUser.id}">
					<span class="alert alert-danger" data-th-text="|comment made by ${transcriptionComment.author},
						on ${transcriptionComment.commentDate}, at ${transcriptionComment.commentTime}"></span>
			</span>
			<br /><br />
			<span class="alert alert-danger" data-th-text="|comment made on ${transcriptionComment.transcription.name}: ${transcriptionComment.transcription.content}|"></span>
			<div data-th-if="${profile.id == @sessionManager.loggedInUser.id}">
				<div data-th-if="${transcriptionComment.deletableByAuthor}">
					<br />
					<form id="deleteTranscriptionComment" data-th-action="|/app/deleteTranscriptionComment/${transcriptionComment.id}|" 
							method="POST">
						<button id="deleteTranscriptionCommentButton" class="btn btn-danger" data-th-text="|DELETE this transcription comment, 
							${@sessionManager.loggedInUser.username}|"></button>
					</form>
				</div>
			</div>
		</section>
	</div>
	
		<script>
		const handlePost = e => {
			e.preventDefault();
			if (confirm("Do you really want to delete this post?")) {
				document.querySelector("#deletePost").submit();
			}
		};
		document.querySelector("#deletePostButton").addEventListener('click', handlePost);
		
		const handleTranscription = e => {
			e.preventDefault();
			if (confirm("Do you really want to delete this transcription?")) {
				document.querySelector("#deleteTranscription").submit();
			}
		};
		document.querySelector("#deleteTranscriptionButton").addEventListener('click', handleTranscription);
		
		const handleTranscriptionComment = e => {
			e.preventDefault();
			if (confirm("Do you really want to delete this transcription comment?")) {
				document.querySelector("#deleteTranscriptionComment").submit();
			}
		};
		document.querySelector("#deleteTranscriptionCommentButton").addEventListener('click', handleTranscriptionComment);
			
		const handlePostComment = e => {
			e.preventDefault();
			if (confirm("Do you really want to delete this post comment?")) {
				document.querySelector("#deletePostComment").submit();
			}
		};
		document.querySelector("#deletePostCommentButton").addEventListener('click', handlePostComment);
		
	</script>	

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>