<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title data-th-text="#{registrationTitle}">Join Us</title>
</head>
<body>
	<h1 align="center" data-th-text="#{topLineRegistration}">Welcome
		to Chirgloss</h1>
	<h2 align="center" data-th-text="#{explanation}">A Place for You
		to Practice Phonetic Transcription with Your Peers</h2>
	<h3 align="center" data-th-text="#{makeUser}">Make Yourself a
		User!</h3>
	<div align="center">
		<a data-th-href="|/app/login|" data-th-text="#{alreadyRegistered}">But
			Are You Already a User?</a>
	</div>
	<h4 align="center">
		<a data-th-href="|/app/registrationLanguagePreference/#{language}|"> <span
			data-th-text="#{languagePreference}"></span></a>
	</h4>
	<div data-th-if="${passwordNoMatch}">
		<div align="center">
			<span data-th-text="${passwordNoMatch}"></span>
		</div>
	</div>
	<div data-th-if="${message}">
		<div align="center">
			<span class="alert alert-danger" data-th-text="${message}"></span>
		</div>
	</div>
	<form data-th-action="|/app/register|" method="POST"
		data-th-object="${registrationAttempt}">
		<div align="center" class="form-group">
			<label for="username" data-th-text="#{usernameRegistration}">Enter
				a username</label> <input class="form-control" size="45" type="text"
				id="username"
				data-th-placeholder="#{placeholderUsernameRegistration}"
				data-th-field="*{username}" data-th-errorclass="is-invalid" />
			<div class="invalid-feedback" data-th-errors="*{username}"></div>
		</div>
		<div align="center" class="form-group">
			<label for="password" data-th-text="#{passwordOneRegistration}">And
				a password, please</label> <input class="form-control" size="45"
				type="password" id="passwordOne"
				data-th-placeholder="#{placeholderPasswordOneRegistration}"
				data-th-field="*{passwordOne}" data-th-errorclass="is-invalid" />
			<div class="invalid-feedback" data-th-errors="*{passwordOne}"></div>
		</div>
		<div align="center" class="form-group">
			<label for="password" data-th-text="#{passwordTwoRegistration}">Repeat
				the password</label> <input class="form-control" size="45" type="password"
				id="passwordTwo"
				data-th-placeholder="#{placeholderPasswordTwoRegistration}"
				data-th-field="*{passwordTwo}" data-th-errorclass="is-invalid" />
			<div class="invalid-feedback" data-th-errors="*{passwordTwo}"></div>
		</div>
		<div align="center">
			<button type="submit" class="btn btn-primary"
				data-th-text="#{registrationButton}">Go Forth</button>
		</div>
	</form>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>